 /* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}
.App{
  /* border: 1px solid red; */
  padding: 100px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Counter Container */
.counter-container {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 250px;
  min-height: 300px;
}

/* Heading */
h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
 
}
.headingCounter{
  
  margin-bottom: 50px;
}

/* Counter Display */
.counter-display {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Button Styles */
button {
  width: 300px;
  padding: 20px 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.2s ease;
  border: none;
  background-color: black;
  color: white;
}

/* Button Hover Effects */
button:hover {
  transform: scale(1.1);
}

.App:hover {
  transform: scale(1.1);
}

/* Active Button Effect */
button:active {
  transform: scale(1);
}

/* Individual Button Styles */
button.plus {
  background-color: #4CAF50;
  color: white;
}

button.minus {
  background-color: #F44336;
  color: white;
}

button.reset {
  background-color: #2196F3;
  color: white;
}
